footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
.lang-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}
.lang-toggle button {
    background-color: #0a192f;
    color: #64ffda;
    border: 1px solid #64ffda;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
}
.lang-toggle button:hover {
    background-color: #64ffda;
    color: #0a192f;
}
body, html {
    background-color: #164643;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#hero h1 {
    margin: 0;
    font-size: 40px;
}
#hero {
    background-color: #266160;
    font-family: monospace;
    color: hsl(300, 20%, 96%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    position: relative;
    text-align: center;
}
#rest h1 {
    margin: 0%;
    font-size: 40px;
}
#rest {
    font-family: monospace;
    color: hsl(300, 20%, 96%);
    padding-bottom: 0rem;
}
img {
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 350px;
}
img.zoom {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
img.zoom:hover {
    transform: scale(1.1);
}
.content {
    text-align: center;
    margin-top: 0px;
    font-weight: 800;
}
.content button {
    font-size: 2rem;
    color: #fff;
    background-color: #2f70d8;
    border: none;
    padding: .5rem 2rem;
    cursor: pointer;
    transition: all .3s ease;
}
.content button:hover {
    background-color: #295294;
}
#about_me {
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.6);
}
#about_me *, #projects * {
    color: inherit;
}
#work_experience section {
    width: 50%;
    max-width: 100px;
}
#work_experience {
    display: block;
    justify-content: center;
    color: hsl(300, 20%, 96%);
}
.company-logo {
    width: 80px;
    height: auto;
    object-fit: contain;
    margin-bottom: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 5px rgba(0, 255, 255, 0.4));
}
.hero-center {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    margin-top: 0rem;
    z-index: 10;
}
.profile-pic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
}
.projects-section {
    text-align: center;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
    margin: 2rem;
}
.project-card {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    transition: transform 0.3s ease;
    padding: 1rem;
}
.project-card:hover {
    transform: scale(1.03);
}
.project-card-text {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem;
    width: 100%;
    text-align: center;
}
.project-card-text h4 {
    margin: 0;
    font-size: 1.4rem;
}
.project-date {
    font-size: 0.9rem;
    color: #ddd;
}
.project-card-text p {
    margin-top: 0.5rem;
    font-size: 1rem;
}
.hero-zones {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    margin: 0;
    padding: 0;
    place-items: center;
    z-index: 5;
}
.zone {
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zone:hover {
    background-color: rgba(0, 255, 255, 0.1);
}
.zone-title {
    font-size: 2rem;
    font-weight: bold;
    color: hsl(180, 100%, 99%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
    font-family: monospace;
    position: absolute;
}
#zone-about .zone-title {
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}
#zone-experience .zone-title {
    top: 20%;
    right: 20%;
    transform: translate(50%, -50%);
}
#zone-projects .zone-title {
    bottom: 20%;
    left: 20%;
    transform: translate(-50%, 50%);
}
#zone-contact .zone-title {
    bottom: 20%;
    right: 20%;
    transform: translate(50%, 50%);
}
.zone:hover .zone-title {
    opacity: 1;
}
.skills-ticker {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 255, 255, 0.2);
    padding: 1rem 0;
    margin: 0rem 0;
}
.skills-track {
    display: inline-block;
    white-space: nowrap;
    animation: scrollSkills 20s linear infinite;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}
.skills-track span {
    margin: 0 2rem;
}
@keyframes scrollSkills {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.resume-section {
    padding: 3rem 2rem;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.1);
    margin-top: 0rem;
}
.resume-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #64ffda;
}
.resume-section p {
    font-size: 0.8rem;
    color: #ccc;
    margin-bottom: 2rem;
}
.resume-button {
    background-color: #000000;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.4);
}
.resume-button:hover {
    background-color: #143f43;
    transform: scale(1.1);
}
.description {
    display: none;
    transition: all 0.3s ease;
}
.timeline-section {
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem;
}
.timeline {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0.6rem 0;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #00ffff;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.timeline-item {
    background: rgba(0, 255, 255, 0.1);
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-radius: 10rem;
    padding: 0.3rem 0.3rem;
    position: relative;
    width: 70%;
    box-sizing: border-box;
    color: #ffffff;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}
.timeline-item.show {
    opacity: 1;
    transform: translateY(0);
}
.timeline-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}
.timeline-item.left {
    left: -20%;
}
.timeline-item.right{
    right: -50%;
}
.timeline-item.right, .timeline-item.left{

    text-align: right;
    padding-left: 0.3rem;
    border-radius: 10%;
}
.timeline-content {
    background-color: rgba(0, 255, 255, 0.1);
    border: 2px solid rgba(0, 255, 255, 0.3);
    border-radius: 10%;
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
    position: relative;
}
.timeline-content h2 {
    font-size: 1.5rem;
    color: #64ffda;
    margin-bottom: 0.5rem;
}
.timeline-content h6 {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 0.5rem;
}
.work-header {
    text-align: center;
}
.work-title {
    font-family: monospace;
}
.timeline-content::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00ffff;
    border: 1px solid #000;
    z-index: 1;
}
.timeline-item.left .timeline-content::before {
    right: -12px;
}
.timeline-item.right .timeline-content::before {
    left: -12px;
}
.toggle-btn {
    background: none;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    display: block;
    margin: 0.5rem auto;
    text-align: center;
}
.job-date {
    font-size: 1rem;
    color: rgb(186, 185, 185);
    margin-bottom: 0.5rem;
}
section {
    scroll-margin-top: 100px;
}
.education-section {
    padding: 2rem 0rem;
    background-color: #0d1117;
    text-align: center;
}
.education {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}
.education-item {
    background: rgba(0, 255, 255, 0.1);
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-radius: 1rem;
    padding: 2rem;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
}
.education-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}
.education-content h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #64ffda;
}
.education-content p {
    font-size: 1rem;
    color: #ccc;
    margin: 0.5rem 0;
}
.school-logo {
    width: 80px;
    height: auto;
    object-fit: contain;
    margin-bottom: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 5px rgba(0, 255, 255, 0.4));
}
.contact-section {
    text-align: center;
    padding: 0.5rem 1rem 3rem;
    background-color: #0d1117;
    color: #f0f0f0;
}
.contact-icons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.contact-logo {
    width: 60px;
    height: auto;
    filter: drop-shadow(0 0 5px rgba(0, 255, 255, 0.5));
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}
.contact-logo:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.7));
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1024px) {
    #hero h1,
    #rest h1 {
        font-size: 32px;
    }
    img {
        width: 250px;
        padding: 3px;
    }
    img.zoom {
        width: 250px;
        height: 250px;
    }
    .hero-center {
        width: 250px;
        height: 250px;
    }
    .profile-pic {
        width: 200px;
        height: 200px;
    }
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 1rem;
    }
    #work_experience section {
        width: 70%;
    }
    .timeline {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .zone-title{
        font-size: x-large; 
    }
    #title-about, #title-education{
        padding: 0rem 0rem 0rem 2rem;
    }
    #title-experience, #title-contact{
        padding: 0rem 2rem 0rem 0rem;
    }
    #hero h1,
    #rest h1 {
        font-size: 28px;
    }
    img {
        width: 180px;
        padding: 2px;
    }
    img.zoom {
        width: 180px;
        height: 180px;
    }
    .hero-center {
        width: 180px;
        height: 180px;
    }
    .profile-pic {
        width: 150px;
        height: 150px;
    }
    .projects-grid {
        grid-template-columns: 1fr;
        margin: 0 1rem;
    }
    #work_experience section, 
    #work_experience .timeline-item {
      padding: 0.2rem 0.2rem!important;  
      width: 50% !important;           
      max-width: none !important;        
      font-size: 0.8rem !important;    
      line-height: 1 !important;    

    }
    .timeline-item.left {
        left: 0%;
        text-align: right;
        padding-right: 3rem;
        border-radius: 10%;
    }
    .timeline-content{
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
    .education {
        grid-template-columns: 1fr;
        margin: 0 1rem;
    }
    .education-item {
        width: 100%;
    }
    .contact-icons {
        flex-direction: column;
        gap: 1.5rem;
    }
    .lang-toggle {
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    #hero h1,
    #rest h1 {
        font-size: 22px;
    }
    img {
        width: 140px;
        padding: 1px;
    }
    img.zoom {
        width: 140px;
        height: 140px; 
        object-fit: cover;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }
    .hero-zones{
        font-size: xx-small;
    }
.timeline-container {
    padding: 15px 10px;
  }
  
  .timeline-card {
    width: 100%;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    padding: 15px;
  }
  
  .timeline-card-content {
    font-size: 14px;
    line-height: 1.4;
  }
  
  .timeline-date {
    font-size: 12px;
    font-weight: 600;
    color: #777;
    margin-bottom: 8px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    display: block;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
  }
  .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
  }
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
  }
  .btn-secondary:hover {
    background-color: #545b62;
  }
} 
*,
*::before,
*::after {
  box-sizing: border-box;
}

